.QA {
  background-color: black;
  //   height: 600px;
  width: 100%;
  color: aliceblue;
  padding: 50px 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .heading {
    margin: 0%;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 50px;
  }

  .card {
    margin-top: 20px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    .title {
      width: 100%;
      background-color: #303030;
      margin-bottom: 3px;
      height: 60px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 24px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }

    .subTitle {
      width: 100%;
      padding: 15px;
      box-sizing: border-box;
      background-color: #303030;
      font-size: 20px;
      word-spacing: 2px;
      line-height: 30px;
      display: none;
    }
  }
}

@media only screen and (max-width: 800px) {
  .QA {
    .card {
      width: 100%;
    }

    .heading {
      font-size: 30px;
    }
    padding: 30px 20px;
    .card {
      .title {
        font-size: 19px;
      }
      .subTitle {
        font-size: 17px;
      }
    }
  }
}
