@import "../../Mixins/Mixins.scss";

.ad {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: black;
  color: #fff;
  padding: 40px;
  box-sizing: border-box;
  border-bottom: 8px solid #222;
  article {
    width: 100%;
    height: 100%;
    @include flex(center, start, column, nowrap);
    .title {
      color: #fff;
      font-size: 2.6rem;
      max-width: 400px;
      margin: 10px 0px;
    }
    .subTitle {
      font-size: 1.5rem;
      color: aliceblue;
      max-width: 400px;
      margin: 10px 0px;
    }
  }

  .image {
    position: relative;
    height: auto;
    width: 100%;
    // height: 100%;
    overflow: hidden;
    @include flex(center, center, column, nowrap);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0%;
      left: 0%;
      z-index: 1;
    }

    .video-main {
      position: absolute;
      z-index: 0;
      width: 100%;
      top: 50%;
      left: 50%;
      max-height: 54%;
      max-width: 73%;
      transform: translate(-50%, -62%);
      video {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .ad {
    display: grid;
    grid-template-columns: 100%;

    article {
      @include flex(center, center, column, nowrap);
      text-align: center;

      .title {
        font-size: 2rem;
      }

      .subTitle {
        font-size: 1.1rem;
      }
    }
  }
}
