@import "../../../Mixins/Mixins.scss";

main {
  height: 100vh;
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/c732cb00-be61-4d64-b8c3-99f022e7a123/eceef24d-4920-430f-988b-d2f48f8ad060/IN-en-20220620-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
  background-size: cover;

  .layer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.537);

    header {
      height: 10%;
      padding: 0px 10px;
      box-sizing: border-box;
      @include flex(space-between, center, row, nowrap);
      img {
        width: 160px;
      }

      aside {
        @include flex(space-around, center, row, nowrap);
        width: 200px;

        .btn {
          width: 120px;
          color: white;
          background-color: black;
          height: 30px;
          border-color: black;
          margin-right: 20px;
        }
        .btn1 {
          width: 120px;
          color: white;
          background-color: red;
          height: 30px;
          border-color: black;
        }
      }
    }

    .center {
      color: aliceblue;
      text-align: center;
      height: 90%;
      padding: 100px 0px;
      @include flex(start, center, Column, nowrap);

      .card {
        max-width: 600px;
        h1 {
          font-size: 50px;
          margin: 0%;
          // max-width: 600px;
        }
        .membership {
          height: 50px;
          @include flex(center, center, row, wrap);

          input {
            height: 100%;
            width: 60%;
          }

          button {
            height: calc(100% + 10px);
            width: 30%;
            font-size: 20px;
            background-color: red;
            color: aliceblue;
            &:focus {
              outline: none;
              border: none;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .card {
    // display: grid;
    // grid-template-columns: 100%;
    h1 {
      font-size: 30px !important;
      max-width: 600px;
    }

    h2 {
      font-weight: 400;
      font-size: 20px;
    }

    h4 {
      font-size: 20px;
    }
  }

  header {
    img {
      width: 120px !important;
    }
  }

  .membership {
    input {
      width: 80% !important;
    }

    button {
      margin-top: 30px;
      height: 45px !important;
      width: 130px !important;
    }
  }
}
