.footer {
  display: flex;
  background-color: black;
  color: #737373;
  justify-content: center;
  padding: 30px 50px;
  align-items: center;
  .footer_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: #737373;
    // width: 80%;
    .enquery {
      display: flex;
      flex-direction: row;

      div {
        margin-right: 60px;

        ul li {
          list-style: none;
          font-size: 15px;
          margin-top: 10px;
        }
      }
    }
    .footer_btn {
      height: 50px;
      width: 140px;
      font-size: 20px;
      color: #737373;
      border: 0.5px solid #737373;
      background-color: black;
      border-radius: 2.5px;
      margin-left: 40px;
    }
    ul li {
      list-style: none;
    }
  }
}

@media only screen and (max-width: 800px) {
  .footer {
    .footer_body {
      .enquery {
        display: grid;
        grid-template-columns: 50% 50%;
      }
    }
  }
}
